---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: esphome
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  dependsOn:
    - name: openebs
      namespace: kube-system
  values:
    controllers:
      esphome:
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                  "name":"house",
                  "namespace": "network",
                  "ips": ["192.168.1.7/24"]
              }]
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/esphome
              tag: 2026.1.1@sha256:75a78f955a0617253e91bc30511b59e3c06eaffef7adf262921164c9e81d7a1e
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 10m
                memory: 512Mi
              limits:
                memory: 3Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.107.0@sha256:4b622c4cd1b0f559fec0df67fcf09042d63e9ce84c575102066afd9511695627
            args:
              - --auth
              - none
              - --disable-telemetry
              - --disable-update-check
              - --user-data-dir
              - /config/.code-server
              - --extensions-dir
              - /config/.code-server
              - --port
              - "12321"
              - /config
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
    service:
      app:
        forceRename: "{{.Release.Name}}"
        ports:
          http:
            port: &esphome-port 6052
      code-server:
        ports:
          http:
            port: &code-server-port 12321
    persistence:
      config:
        existingClaim: esphome-config
        advancedMounts:
          esphome:
            app:
              - path: /config
            code-server:
              - path: /config
      #secrets:
      #  type: secret
      #  name: esphome-secrets
      #  globalMounts:
      #    - path: /config/secrets.yaml
      #      subPath: secrets.yaml
      tmpfs:
        type: emptyDir
        advancedMounts:
          esphome:
            app:
              - path: /cache
                subPath: cache
            code-server:
              - path: /tmp
                subPath: code-server-tmp
              - path: /nonexistent
                subPath: nonexistent
    route:
      app:
        hostnames:
          - esphome.${SECRET_DOMAIN:=example.com}
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /code/
            filters:
              - type: URLRewrite
                urlRewrite:
                  path:
                    type: ReplacePrefixMatch
                    replacePrefixMatch: /
            backendRefs:
              - identifier: code-server
                port: *code-server-port
          - backendRefs:
              - identifier: app
                port: *esphome-port
