apiVersion: apps/v1
kind: Deployment
metadata:
  name: piper
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: piper
  template:
    metadata:
      labels:
        app: piper
    spec:
      containers:
        - name: piper
          image: rhasspy/wyoming-piper:2.2.2@sha256:c874e4a04657ae3381332ee5d0c8c70a310dae6722892840f530ac0890b44eb3
          args: ["--voice", "en-us-lessac-low"]
          ports:
            - containerPort: 10200
          volumeMounts:
            - name: data
              mountPath: /data
      volumes:
        - name: data
          ephemeral:
            volumeClaimTemplate:
              spec:
                accessModes: ["ReadWriteOnce"]
                resources:
                  requests:
                    storage: 1Gi
                storageClassName: openebs-hostpath