apiVersion: apps/v1
kind: Deployment
metadata:
  name: whisper
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: whisper
  template:
    metadata:
      labels:
        app: whisper
    spec:
      containers:
        - name: whisper
          image: rhasspy/wyoming-whisper:3.0.1@sha256:08031ae19b68f286bbc99daf65e90c526bd99a7812e2e64ea3c0f23624538b97
          args: ["--model", "tiny-int8", "--language", "en", "--data-dir", "/data"]
          ports:
            - containerPort: 10300
          volumeMounts:
            - name: data
              mountPath: /data
      volumes:
        - name: data
          ephemeral:
            volumeClaimTemplate:
              spec:
                accessModes: ["ReadWriteOnce"]
                resources:
                  requests:
                    storage: 1Gi
                storageClassName: openebs-hostpath